@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
  font-family: 'Raleway', sans-serif;
  color: #464A52;
  margin: 0;
  overflow-x: hidden;
}

code {
  color: #464A52;
}

.name {
  font-weight: 500;
  font-size: 4rem;
  margin-top: 20vh;
}

.scroll {
  font-size: 2.2rem;
  font-weight: 500;
}

/* Cursor */
.txt-type>.txt {
  border-right: 0.2rem solid #777;
}

.asus {
  background-image: url('img/asus.png');
  height: 80vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.code {
  background-image: url('img/matrix.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 22vh !important;
  z-index: -2;
  border-radius: 2%;
  height: 800px;
  width: 100vw;
}

.slant-top {
  position: absolute;
  background-color: rgb(163, 161, 161);
  z-index: -3;
}

.slant-top::after {
  content: '';
  position: absolute;
  bottom: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 12vh 100vw;
  border-bottom-color: rgb(194, 194, 192);
  border-left-color: rgb(194, 194, 192);
}

.slant-row {
  background-color: rgb(194, 194, 192);
  padding-bottom: 15vh;
}

.slant-bottom {
  position: relative;
  background-color: rgb(194, 194, 192);
}

.slant-bottom::after {
  content: '';
  position: relative;
  bottom: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 8vh 100vw;
  border-bottom-color: white;
  border-left-color: white;

}

.about-title {
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 8px;
}

.dots {
  color: rgb(194, 194, 192);
}

.about-box {
  border-radius: 8px;
  border: 2px solid #969188;
  font-size: 1.2rem;
  background-color: #464A52;
}

.my-pic {
  border-radius: 50%;
  border: 1px solid #969188;
  float: right;
  height: 160px;
  width: 145px;
}

.my-carousel {
  height: 69vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #969188;
  border-radius: 8px;
}

.skills-title {
  padding: 15px 30px;
  border: 1px solid #464A52;
  border-radius: 8px;
}

.skills-bg {
  padding-top: 100px;
  padding-bottom: 80px;
}

.skills {
  height: 25vh;
  width: auto;
}

.skills-2 {
  height: 20vh;
  width: auto;
}

#c-sharp {
  height: 22vh;
  margin-top: 3vh;
}

#bootstrap,
#vue {
  height: 19vh;
}

#mongo,
#node {
  height: 28vh;
}

.foot-title {
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 8px;
}

.dots-foot {
  color: #BED2D3;
}

.foot {
  background-color: #BED2D3;
}

.footer-icons {
  color: #464A52;
}


@media only screen and (max-width: 768px) {

  .name,
  .scroll {
    font-size: 1.5rem;
  }

  .asus {
    margin-top: -10vh !important;
  }

  .footer-icons {
    font-size: 2rem;
  }

}