@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: #333 url('https://image.ibb.co/hu4icU/heli_pic.jpg') no-repeat bottom center / cover;
  color: #262626;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2rem;
  margin-top: 20vh;
}

h1,
h2 {
  font-weight: 350;
  margin: 0.4rem;
}

h1 {
  font-size: 3.2rem;
  margin-top: 48vh;
  margin-left: 4vw;
}

h2 {
  font-size: 2rem;
  color: #333333;
  margin-left: 4.3vw;
}

/* Cursor */
.txt-type>.txt {
  border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
    margin-top: 55vh;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}