@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
  font-family: 'Raleway', sans-serif;
  color: #464A52;
  margin: 0;
  overflow-x: hidden !important;
}

code {
  color: #464A52;
}

.name {
  font-weight: 500;
  font-size: 4rem;
  margin-top: 20vh;
}

.scroll {
  font-size: 2.2rem;
  font-weight: 500;
}

/* Cursor */
.txt-type>.txt {
  border-right: 0.2rem solid #777;
}

.asus {
  background-image: url('img/asus.png');
  height: 80vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.code {
  background-image: url('img/matrix.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 22vh !important;
  z-index: -2;
  border-radius: 2%;
  height: 800px;
  width: 100vw;
}

.slant-top {
  position: absolute;
  background-color: rgb(194, 194, 192);
  z-index: -3;
  transform: rotate(4deg);
  height: 300px;
  width: 110vw;
  margin-top: -130px;
  margin-left: -50px;
}

.slant-row {
  background-color: rgb(194, 194, 192);
  padding-bottom: 15vh;
}

.slant-bottom {
  position: absolute;
  background-color: rgb(194, 194, 192);
  z-index: -3;
  transform: rotate(4deg);
  margin-top: -100px;
  height: 200px;
  width: 102vw;
}

.about-title {
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 8px;
}

.about {
  font-size: 1.1rem;
}

.dots {
  color: rgb(194, 194, 192);
}

.about-box {
  border-radius: 8px;
  border: 2px solid #969188;
  font-size: 1.2rem;
  background-color: #464A52;
}

.my-pic {
  border-radius: 50%;
  border: 1px solid #969188;
  float: right;
  height: 160px;
  width: 145px;
}

.my-carousel {
  height: 69vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #969188;
  border-radius: 8px;
}

.skills-title {
  margin-top: 20vh !important;
  padding: 15px 30px;
  border: 1px solid #464A52;
  border-radius: 8px;
}

.skills-bg {
  padding-top: 100px;
  padding-bottom: 80px;
}

.skills {
  height: 25vh;
  width: auto;
}

.skills-2 {
  height: 20vh;
  width: auto;
}

#c-sharp {
  height: 22vh;
  margin-top: 2vh;
}

#bootstrap {
  height: 22vh;
}

#vue {
  height: 19vh;
}

#mongo,
#node {
  height: 28vh;
}

.wave {
  margin-top: 40vh;
  padding-top: 30vh;
  position: relative;
  background: linear-gradient(#40a3da 20%, #ffffff);
  height: 1400px;
}

.wave::before {
  content: '';
  position: absolute;
  top: -400px;
  left: 0;
  width: 100vw;
  height: 400px;
  background: url(img/wave.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.my-portfolio {
  margin-top: 300px !important;
}

.portfolio-title {
  position: absolute;
  top: -480px;
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 8px;
}

.my-cards {
  position: relative;
  top: -330px;
}

.card {
  border: 2px solid #464A52;
  border-radius: 8px;
}

.card-body {
  border-top: 2px solid #464A52;
}

.foot-title {
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 8px;
}

#title-foot {
  color: white;
}

.dots-foot {
  color: #464A52;
}

.foot {
  background-color: #464A52;
}

.footer-icons {
  color: white;
}

.fa-envelope:hover {
  cursor: pointer;
}

#arrow:hover {
  text-decoration: none;
}


@media only screen and (max-width: 768px) {

  .navbar-nav {
    display: flex !important;
    flex-direction: row;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .name {
    margin-top: 14vh !important;
    font-size: 1.5rem;
  }

  .scroll {
    font-size: 1.1rem;
  }

  .asus {
    margin-top: 7vh !important;
    height: 38vh;
  }

  .code {
    margin-top: 15vh !important;
  }

  .about-title {
    font-size: 0.9rem;
    padding: 10px;
  }

  .about {
    font-size: 1rem;
  }

  .my-pic {
    height: 105px;
    width: 100px;
  }

  #fcc {
    margin-top: 2vh;
  }

  .my-carousel {
    height: 36vh;
  }

  .skills-title {
    font-size: 1rem;
  }

  .skills {
    margin: -30px !important;
    height: 12vh;
    width: auto;
  }

  .skills-2 {
    height: 8vh;
    width: auto;
    margin-top: 0vh !important;
  }

  #c-sharp {
    height: 9vh;
    margin-top: -15px !important;
  }

  #bootstrap {
    height: 9vh;
  }

  #vue {
    height: 7vh;
  }

  #mongo,
  #node {
    height: 13vh;
    margin-top: -2vh !important;
  }

  .portfolio-title {
    font-size: 1rem;
    padding: 10px;
  }

  .my-cards {
    position: relative;
    top: -280px;
    margin-top: -45px;
  }

  .foot {
    margin-top: 1730px !important;
  }

  .foot-title {
    font-size: 1.2rem;
    padding: 10px;
  }

  .footer-icons {
    font-size: 2.5rem;
    margin-left: 20px;
    margin-right: 20px;
  }

}